<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication2.Properties.Settings.MCHConnectionString"
            connectionString="Data Source=192.168.137.1;Initial Catalog=MCH;Persist Security Info=True;User ID=sa;Password=123456789"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication2.Properties.Settings.MCHConnectionString1"
            connectionString="Data Source=192.168.137.1;Initial Catalog=MCH;Persist Security Info=True;User ID=sa;Password=123456789"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication2.Properties.Settings.MCHConnectionString2"
            connectionString="Data Source=192.168.137.1;Initial Catalog=MCH;Persist Security Info=True;User ID=sa;Password=123456789"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication2.Properties.Settings.MCHConnectionString3"
            connectionString="Data Source=JUANPC\SQLEXPRESS;Initial Catalog=MCH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication2.Properties.Settings.MCHConnectionString4"
            connectionString="Data Source=.;Initial Catalog=MCH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>